<!DOCTYPE html>
<html>
<head>
	<title>{{ data['title'] }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{ static_url('style/bootstrap.min.css') }}" />
	<script type="text/javascript" src="{{ static_url('script/jquery.min.js') }}"></script>
	<script type="text/javascript" src="{{ static_url('script/bootstrap.min.js') }}"></script>
	<script type="text/javascript" src="{{ static_url('script/global.js') }}"></script>
</head>
<body role="document">
	<div class="container-fluid theme-showcase" role="main">
	{% block body %}{% end %}
	</div>
</body>
</html>
