[program:web9000]
command=/apps/python/python3/bin/python3 /apps/web/wm-b2c/v1/index.py 9000
priority=1
numprocs=1
autostart=true
autorestart=true
redirect_stderr=true
stdout_logfile_maxbytes=500MB
stdout_logfile_backups=20
stderr_logfile=/apps/web/logs/supervisord_web_err.log
stdout_logfile=/apps/web/logs/web.log

[program:web9001]
command=/apps/python/python3/bin/python3 /apps/web/wm-b2c/v1/index.py 9001
priority=1
numprocs=1
autostart=true
autorestart=true
redirect_stderr=true
stdout_logfile_maxbytes=500MB
stdout_logfile_backups=20
stderr_logfile=/apps/web/logs/supervisord_web_err.log
stdout_logfile=/apps/web/logs/web.log

[program:task]
command=/apps/python/python3/bin/python3 /apps/web/wm-b2c/v1/task_runner.py
priority=1
process_name=%(program_name)s_%(process_num)s
numprocs=1
autostart=true
autorestart=true
redirect_stderr=true
stdout_logfile_maxbytes=500MB
stdout_logfile_backups=20
stderr_logfile=/apps/web/logs/supervisord_err.log
stdout_logfile=/apps/web/logs/task.log

[program:scheduler]
command=/apps/python/python3/bin/python3 /apps/web/wm-b2c/v1/scheduler.py
priority=1
numprocs=1
autostart=true
autorestart=true
redirect_stderr=true
stdout_logfile_maxbytes=500MB
stdout_logfile_backups=20
stderr_logfile=/apps/web/logs/supervisord_scheduler_err.log
stdout_logfile=/apps/web/logs/scheduler.log

[unix_http_server]
file=/apps/data/wmb2c/supervisor.sock
chmod=0777
chown=apps:apps

#[inet_http_server]
#port=*:9001
#username=admin
#password=only820627

[supervisord]
logfile=/apps/web/logs/supervisord_log.log
stderr_logfile=/apps/web/logs/supervisord_err.log
stdout_logfile=/apps/web/logs/supervisord_out.log
pidfile=/apps/data/wmb2c/supervisord.pid

[supervisorctl]
serverurl=unix:///apps/data/wmb2c/supervisor.sock

[rpcinterface:supervisor]
supervisor.rpcinterface_factory=supervisor.rpcinterface:make_main_rpcinterface

